*{
    /* border:1px solid red; */
}


.shopping-cart-parent {
    min-height: 80vh;
    width:80%;
    margin: 0 auto;
    text-align: start;
    
}

.cart-product-h1{
    margin-left:2rem;
}

.cart-guides{
    display:flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-left: 2rem;
    max-width: 60%;
}

.cart-product-details{
    
}

.qty-total-details{
    display:flex;
    justify-content: space-around;
    min-width: 30%;
}

.cart-item{
    margin-top:2rem;
    display:flex;
    align-items: center;
    margin-left:2rem;
    width: 60%;
    justify-content: space-between;
}

.cart-image-title{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    text-align: start;
    width: 70%;
}

.cart-item-image{
    max-width:40%;
}

.cart-item-title{
    max-width: 80%;
    margin-bottom: 1rem;
}

.quantity-parent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    min-width: 30%;
    gap:1rem;

}

.quantity-count{
    display:flex;
    gap:.5rem;
    border: 1px solid grey;
    align-items: center;
}

.minus-quantity, .add-quantity{
    cursor: pointer;
    padding:.5rem;
    border:1px solid grey;
}