*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: .7fr 1fr 1fr; 
  /* grid-template-rows: 1fr 1fr 1fr;  */
  grid-template-areas: 
    'nav nav nav'
    '... main main'
    'footer footer footer'
}

.nav-bar-comp{
  grid-area: nav;

}

.main-comp{
  grid-area: main;
}

.footer-comp{
  grid-area: footer;
}

